body {
  font-family: Arial, sans-serif;
  background-color: orange;
}


nav ul {
  list-style-type: none;
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

h1 {
  margin: 50px auto;
  color: #333;
  font-size: 44px;
}

.description {
  font-size: 22px;
}

.frameworks {
  display: flex;
  justify-content: space-around;
  margin: 20px;
  gap: 150px;
}

.frameworks a img {
  width: 100px;
  height: 100px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 150px; 
  height: 150px; 
  vertical-align: middle;   

}

